!!!
%html
%head
	%title Code Jobs
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags 
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand Code&Jobs
			%ul.nav.navbar-nav
				- if !user_signed_in?
					%li= link_to "All Jobs", root_path
					- Category.all.each do |category|
						%li= link_to category.name, jobs_path(category: category.name)
			

			- if user_signed_in?
				= link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link"
				= link_to "Log off", destroy_user_session_path, :method => :delete, class: "navbar-text navbar-right navbar-link"
			- else
				= link_to "Sign in", new_user_session_path, class: "navbar-text navbar-right navbar-link"
				= link_to "Sign up", new_user_registration_path, class: "navbar-text navbar-right navbar-link"
		.container
			= yield
		%footer.footer-distributed
			.footer-left
		    %h3
		      Company
		      %span logo
		    %p.footer-links
		      %a{:href => "#"} Home
		      ·
		      %a{:href => "#"} Blog
		      ·
		      %a{:href => "#"} Pricing
		      ·
		      %a{:href => "#"} About
		      ·
		      %a{:href => "#"} Faq
		      ·
		      %a{:href => "#"} Contact
		    %p.footer-company-name Company Name &copy; 2015
		  .footer-center
		    %div
		      %i.fa.fa-map-marker
		      %p
		        %span 21 Revolution Street
		        Paris, France
		    %div
		      %i.fa.fa-phone
		      %p +1 555 123456
		    %div
		      %i.fa.fa-envelope
		      %p
		        %a{:href => "mailto:support@company.com"} support@company.com
		  .footer-right
		    %p.footer-company-about
		      %span About the company
		      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
		    .footer-icons
		      %a{:href => "#"}
		        %i.fa.fa-facebook
		      %a{:href => "#"}
		        %i.fa.fa-twitter
		      %a{:href => "#"}
		        %i.fa.fa-linkedin
		      %a{:href => "#"}
		        %i.fa.fa-github